<!DOCTYPE html>

<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">

<title>X-PANEL</title>


<style>

body{

background:#111827;
font-family:tahoma;

}


.card{

width:350px;
margin:100px auto;
background:#1f2937;
padding:30px;
border-radius:15px;
color:white;

}


input,button{

width:100%;
padding:12px;
margin-top:10px;
border-radius:8px;
border:0;

}


button{

background:#2563eb;
color:white;

}

</style>


</head>


<body>


<div class="card">


<h2 align="center">
X-PANEL
</h2>


<input placeholder="Username">


<input placeholder="Password" type="password">


<button>
LOGIN
</button>


</div>


</body>

</html>
