<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">

<title>X-PANEL</title>

<style>

body{
    background:#111827;
    font-family:tahoma;
}


.box{

    width:350px;
    margin:120px auto;
    background:#1f2937;
    padding:30px;
    border-radius:15px;
    color:white;
}


input{

    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:none;

}


button{

    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:0;
    border-radius:8px;
    cursor:pointer;

}


h2{

text-align:center;

}


</style>


</head>


<body>


<div class="box">

<h2>
X-PANEL
</h2>


<input placeholder="Username">


<input placeholder="Password" type="password">


<button>
Login
</button>


</div>


</body>


</html>
